<!DOCTYPE html ng-app>
<html>

<head>
	<title>makan dilaut</title>
	<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/material/css/bootstrap-material-design.min.css">
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/material/css/ripples.min.css">
	<link rel="stylesheet" href="/font-material/material-icons.css">
	<link rel="stylesheet" href="/chartist/chartist.min.css">
	<link rel="stylesheet" href="/quill/quill.core.css">
	<link rel="stylesheet" href="/quill/quill.bubble.css">
	<link rel="stylesheet" href="/quill/quill.snow.css">
	<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
	



</head>

<body>
	<div id="navbarpro" class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        
        </button>
				<a class="navbar-brand" href="/"> Dashboard Admin <i class="fa fa-user-secret fa-fw fa-lg" aria-hidden="true"></i>
           
        <div class="ripple-container">            
          </div>         
          </a>
			</div>
			<div class="navbar-collapse navbar-inverse-collapse collapse">
				<form class="navbar-form navbar-left ">
					<!--<div class="form-group">
                <button class="btn btn-raised" type="sumbit">Cari</button>              
              </div>-->
				</form>
				<ul class="nav-drop nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" data-target="dropdown" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog fa-spin fa-fw fa-lg"></i>
Admin : {{email}} <b class="caret"></b> </a>
						<ul class="dropdown-menu">
							<li><a href="/keluar">Log Out  <i class="material-icons">keyboard_arrow_right</i> </a></li>
							<li class="divider"></li>
							<li><a href="#">Bantuan  </a> </li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="nav-side-menu" >
		<div class="brand"> <i  class="fa fa-rocket fa-lg  fa-fw" aria-hidden="true"></i>
 Admin {{nama}} </div>
		<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
		<div class="menu-list">
			<ul id="menu-content" class="menu-content collapse out">
				<li >
					<a  style="display: block;" href="/admin/dashboard">
						<i class="fa fa-area-chart fa-lg"></i>Statistik Pembeli
					</a>
				</li>
				
				<li data-toggle="collapse" data-target="#data" >
					<a href="#"><i class="fa fa-book fa-lg"></i>Data Pembeli Tiket <span class="arrow"></span></a>
				</li>


             

				<ul class="sub-menu collapse" id="data">
					<li class="active"><a href="/admin/dashboard/semua-user"><i class="fa fa-chevron-right" aria-hidden="true"></i>
Semua Pembeli</a></li>
					<li class="active"><a href="/admin/dashboard/lunas"><i class="fa fa-chevron-right" aria-hidden="true"></i>
Pembeli Lunas </a></li>
<li class="active"><a href="/admin/dashboard/belum-lunas"><i class="fa fa-chevron-right" aria-hidden="true"></i>
Pembeli Belum Lunas</a></li>
<li class="active"><a href="/admin/dashboard/waiting-list"><i class="fa fa-chevron-right" aria-hidden="true"></i>
Pembeli Waiting List</a></li>
				</ul>
				<li >
					<a  style="display: block;"  href="/admin/dashboard/kotak-validasi">
						<i class="fa fa-envelope fa-lg"></i>Kotak Validasi Tiket
					</a>
				</li>
				<li >
					<a  style="display: block;"  href="/admin/dashboard/kotak-validasi">
						<i class="fa fa-envelope fa-lg"></i>Kotak Saran
					</a>
				</li>
			</ul>
		</div>
	</div>
	</div>