

<div class="wrapper">

    <div id="side-bar">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">Dashboard Admin</a>

            </li>

            <li>
                <a id="coba1" href="/admin/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/admin/masukanpost">Posting</a>
            </li>
            <li>
                <a href="#">Daftar Posting</a>
            </li>
            <li>
                <a href="/keluar">Keuar</a>
            </li>
            <li>
                <a href="/">Halaman Depan</a>
            </li>


        </ul>
    </div>

</div>
