 {{>headerProfile}}
<!-- 
	- Pembatalan Tiket 
	- Perubahan Jumlah Tiket
	- Konfirmasi Pembayaran
	- Menu Bantuan 
	
	-->
<style>
    .form-group {
        margin: 0 0 0 0 !important;
    }
</style>
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="judul">Ketentuan Pengisian Data <i style="padding-left: 15px; font-size: 40px; margin-top: 20px;" class="fa fa-info-circle" aria-hidden="true"></i>
                </h1>
                <br>
            </div>
            <div class="col-md-12 well">
                <div class="col-lg-5">
                    <label style="font-size: 22px;">   <code> Pelanggan Terhormat </code> </label>
                
                   
                </div>
                 <div class="col-lg-12">
                   
                    <label style="font-size: 19px;">  Kami mempunyai syarat dan ketemtuan sebagai berikut : </label>
                    <hr>
                </div>
               
                <div style="padding-left: 40px;" class="col-md-10 " style="vertical-align: middle;">

                    <label id="panduan"><i class="fa fa-angle-double-right " aria-hidden="true"></i> Mohon <code> isi data dengan benar dan valid </code> sesuai dengan identitas.  </label>
                  
                    <label id="panduan"><i class="fa fa-angle-double-right " aria-hidden="true"></i> Kami tidak bertanggung jawab atas <code> kesalahan transfer uang. </code>
</label>
                    <label id="panduan"><i class="fa fa-angle-double-right " aria-hidden="true"></i> Jika identitas pada pendaftaran tidak valid maka <code> anda tidak dapat memasuki gedung bootcamp. </code>
</label>
                    <label id="panduan"><i class="fa fa-angle-double-right " aria-hidden="true"></i> Mohon untuk <code> mengirim validasi tiket jika sudah transfer uang. </code>
</label> 
                       <label id="panduan"><i class="fa fa-angle-double-right " aria-hidden="true"></i> Tiket tidak dapat <code> diberikan kepada orang lain, diluar pendaftaran. </code> 
</label> 

<br/><br/>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->
</div>
</body>

</html>
{{>footer}}