 {{>headerProfile}}
<style>
	.form-group {
		margin: 0 0 0 0 !important;
	}
</style>
<div id="page-content-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1 class="judul">Validasi Tiket <i style="padding-left: 15px; font-size: 40px;	padding-top: 25px;" class="fa fa-shield " aria-hidden="true"></i>
				</h1>
				<br>
			</div>
			<div class="col-lg-12">
				<form class="" method="post" action="/user/validasi">
					<fieldset>
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title">Form Validasi </h3>
							</div>
							<div class="panel-body">
								<div class="col-md-12">
									<legend class="control-label">* Submit Tiket Validasi </legend>
									<hr>
								</div>
								<div class="col-md-4 ">
									<div class="form-group ">
										<label class="control-label" for="">Nama </label>
										<div class="form-input">
											<input class="form-control" type="text" name="namaUtama" value="{{emailUtama.nm_pembeli}}" readonly>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-md-offset-1">
									<div class="form-group ">
										<label class="control-label" for="">Email</label>
										<div class="form-input">
											<input class="form-control" type="text" name="emailUtama" value="{{emailUtama.email_pembeli}}" readonly>
										</div>
									</div>
								</div>
								<div class="col-md-4 ">
									<div class="form-group has-warning ">
										<label class="control-label" for="inputWarning">No Handphone</label>
										<div class="form-input">
											<input class="form-control" id="inputWarning" type="text" name="hp_utama" value="{{emailUtama.hp_pembeli}}" readonly>
										</div>
									</div>
								</div>

								<div class="col-md-4 col-md-offset-1">
									<div class="form-group has-warning ">
										<label class="control-label" for="inputWarning">Harga Tiket</label>
										<div class="form-input">
											<input class="form-control" id="hargaTiket" type="text"  value="{{detailTiket.harga_tiket}}" readonly>
										</div>
									</div>
								</div>
								<div class="col-md-5 ">
									<div class="form-group ">
										<label class="control-label" for="bank">Pilihan Bank </label>
										<div class="form-input">
												<input class="form-control" name="namaBank" id="bank" type="text"  value="{{detailTiket.pilihan_bank}}" readonly>
										</div>
									</div>
								</div>
							</div>
									<br>
								
						</div>
						<!-- orang 2 -->
						<!-- Orang Sekunder -->
						<div class="col-md-offset-9">
							{{#if statusValidasi}}
							<button type="submit" class="btn btn-raised btn-info" disabled>Anda Sudah Mengirim Tiket</button>

							{{else}}
							<button type="submit" class="btn btn-raised btn-info" >Kirim Tiket Konfirmasi</button>

							{{/if}}
							<!-- Orang Ke 3 -->
						</div>
						<br>
						<br>
						<br>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /#page-content-wrapper -->
</div>
</body>

</html>
{{>footer}}


<script>

	console.log("{{statusValidasi}}")

	$( document ).ready(function() {
    
	// alert(toRp({{detailPembeli.harga_tiket}}));
	    
	$('#hargaTiket').val(toRp('{{detailTiket.harga_tiket}}'));

    function toRp(angka) {
        var rev = parseInt(angka, 10).toString().split('').reverse().join('');
        var rev2 = '';
        for (var i = 0; i < rev.length; i++) {
            rev2 += rev[i];
            if ((i + 1) % 3 === 0 && i !== (rev.length - 1)) {
                rev2 += '.';
            }
        }
        return 'Rp. ' + rev2.split('').reverse().join('') + ',00';
    }

});



</script>