<!DOCTYPE html>
<html>

<head>
    <title>makan dilaut</title>
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-material/material-icons.css">
    <link rel="stylesheet" href="/material/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="/material/css/ripples.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
</head>

<body>

    <div class="container ">
        <div class="daftar col-md-8 col-md-offset-2 well ">
            <div class="form-group" style="margin-bottom: -15px;">
                <h1 class="judul col-md-5 col-md-offset-3"> Daftar Bootcamp</h1>
                <i style="margin-top: 6px;" class="fa  fa-grav fa-5x" aria-hidden="true"></i>
                <hr>

            </div>

            <div class="col-md-9 col-md-offset-1" style="margin-bottom: -15px;">

                <br>
                <label style="margin-left: 16px;" class="control-label ">                 
                                  Data Pribadi</label>
                <hr class="garisbagian">

            </div>
            <div class="col-md-12 col-md-offset-1">
                <form class="daftar form-horizontal text-center" action="/mendaftar" method="post">
                    <div class="col-md-4">
                        <div id="ketikEmail" class="form-group {{error}}">

                            <div class="input-group ">

                                <span class="input-group-addon"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i></span>
                                <input class="form-control " name="nama" placeholder="Nama Anda" type="name" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <div id="ketikPass" class="form-group  {{error}}">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></span>
                                <input class="form-control" name="email" placeholder="Email Anda" type="email" value="">
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4 ">
                        <div id="ketikEmail" class="form-group {{error}}">
                            <div class="input-group ">
                                <span class="input-group-addon"><i class="fa fa-eye-slash fa-lg" aria-hidden="true"></i></span>
                                <input class="form-control " name="password" placeholder="Password" type="password" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <div id="ketikEmail" class="form-group {{error}}">
                            <div class="input-group ">
                                <span class="input-group-addon"><i class="fa fa-eye-slash fa-lg" aria-hidden="true"></i></span>
                                <input class="form-control " placeholder="Konfirmasi Password" type="password" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div id="ketikEmail" class="form-group {{error}}">
                            <div class="input-group ">
                                <span class="input-group-addon"><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i></span>
                                <input class="form-control " name="hp" placeholder="No Handphone" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <div id="ketikPass" class="form-group  {{error}}">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa-lg" aria-hidden="true"></i></span>
                                <select name="gd" id="gender" class="form-control">
                                    <option  hidden>Pilih gender</option>
          <option>Pria</option>
          <option>Wanita</option>
          
        </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9">

                        <br>
                        <label class="control-label">                 
                                  Pilih Metode Pembayaran</label>
                        <hr class="garisbagian">

                    </div>
                    <div class="col-md-12" style="margin-top: -30px;">

                        <div class="col-md-12 ">




                            <div id="ketikEmail" class="form-group {{error}} col-md-6">
                                <div class="input-group col-md-9">
                                    <label for="metode " class="control-label">                 
                                  Pilih Metode Pembayaran</label>
                                    <select name="bank" id="metode" class="form-control">
                                    <option  hidden>Pilih Bank</option>
          <option>BCA NO. 98080986643 - Faisal Arkan</option>
          <option>BRI NO. 78787878741 - Sativa Ken</option>
          
        </select>

                                </div>
                            </div>


                            <div id="ketikEmail" class="form-group {{error}} col-md-6">
                                <div class="input-group col-md-8">
                                    <label for="harga " class="control-label">                 
                                  Biaya Pendaftaran</label>
                                    <input class="form-control " name="harga" id="harga" placeholder="Biaya" type="text" value="Rp. 500.000" disabled>

                                </div>
                            </div>




                        </div>
                        <div class="col-md-8 ">
                            <div class="form-group">
                                <label for="textArea" style="text-align: left;" class="col-md-2 control-label">Motivasi Anda </label>

                                <div class="col-md-10">
                                    <textarea name="motivasi" class="form-control" rows="3" id="textArea"></textarea>
                                    <span class="help-block">Apa motivasi anda untuk terpilih mengikuti bootcamp ini ?</span>
                                </div>
                            </div>
                        </div>

                        <div style="padding-bottom: 30px; padding-left: 20px;" class="col-md-10 col-md-offset-2">

                            <br>
                            <br>
                            <a class=" btn btn-raised btn-info btn-md" href="/login"> Kembali</a>
                            <button id="login" style="margin-left: 10px;" class="btn btn-raised btn-primary " type="submit">  Submit</button>
                        </div>


                    </div>

                </form>


            </div>
        </div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

</body>
{{>footer}}
<script>
    //var nomor = $("#selectHarga").val();
    // alert(nomor);

    // buat input change klik id login

    // $(document).on("click", "#login", function(e) {


    //   e.preventDefault();
    //   console.log('select_link clicked');

    //   dataEmail = $('input[name=email]').val();
    //   dataPass = $('input[name=password]').val();


    //   if (($.trim(dataEmail) == '') && ($.trim(dataPass) == '')) {

    //     $('#ketikEmail').addClass('has-error is-empty');

    //     $('#ketikPass').addClass('has-error is-empty');

    //     $('#pesan').addClass('has-error is-empty');

    //     $('label').show();


    //   } else if (($.trim(dataPass) == '')) {
    //     $('#ketikPass').addClass('has-error is-empty');

    //     $('#pesan').addClass('has-error is-empty');

    //     $('label').show();


    //   } else if (($.trim(dataEmail) == '')) {


    //     $('#ketikEmail').addClass('has-error is-empty');
    //     $('#pesan').addClass('has-error is-empty');
    // $('label').show();


    //   }else{

    //   $.ajax({
    //     //disini

    //     type: 'POST',     
    //     data: $("form").serialize(),
    //     dataType: 'html',
    //     url: 'http://127.0.0.1:3000/login'
    //     // success: function(res) {

    //     //   if (res == true){

    //     //         alert('bener');

    //     //   }else{

    //     //        console.log(res)
    //     //        alert('salah');

    //     //   }

    //     //   },

    //     // error: function(res){

    //     //     alert('failure');

    //     // }



    //   });
    // });

    // buat input change keyboard



</script>