 {{>headerAdmin}}
<div style="padding-top: 55px;" class="container">
    <div class="col-md-11 well  col-md-offset-2">
        <div class="col-md-11">
            <h1 class="judul"><i style="padding-right: 30px;" class="fa fa-area-chart    fa-fw fa-lg" aria-hidden="true"></i> Statistik Penjualan
                Tiket
            </h1>
            <hr class="">
        </div>
          <!--<div style="padding-right: 30px;" class="col-md-10    ">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Diagram Pendapatan</h3>
                </div>
                <div id="my-chart" class="panel-body ">
                  
                </div>
            </div>
        </div>-->
        <div style="padding-left: 15px;" class="col-md-5">
            <div class="panel  panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Keterangan Harga Tiket</h3>
                </div>
                <div class="panel-body">
                    <ul class="tulisTiket" style="padding-left: 15px;">
                        <li class="panah" style="list-style-type: none; "> Harga Tiket Bootcamp <code class="duit" style="margin-left: 5px;" class="">Rp.500.000,00 </code></li>

                    </ul>
                </div>
            </div>
            <div class="panel   panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Jumlah Penjualan Tiket</h3>
                </div>
                <div class="panel-body panel-dashboard-chart">
                    <ul class="tulisTiket" style="padding-left: 15px;">
                        <li class="panah" style="list-style-type: none; "> Tiket Tersedia <code class="duit" style="margin-left: 23px;">{{jumlahTiketReady}}</code> Tiket</li>
                        <li class="panah" style="list-style-type: none;"> Tiket Terjual <code class="duit" style="margin-left: 35px;">{{jumlahTiketSold}}</code> Tiket</li>

                    </ul>
                </div>
            </div>

            <div class="panel  panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Jumlah Status Tiket Terbayar</h3>
                </div>
                <div class="panel-body panel-dashboard-chart">
                    <ul class="tulisTiket" style="padding-left: 15px;">
                        <li class="panah" style="list-style-type: none;"> Jumlah Waiting List <code class="duit" style="margin-left: 30px;">{{waitingTiket}}</code> Tiket</li>
                        <li class="panah" style="list-style-type: none;"> Jumlah Tiket Lunas <code class="duit" style="margin-left: 35px;">{{tiketLunas}}</code> Tiket</li>
                        <li class="panah" style="list-style-type: none;"> Jumlah Belum Lunas <code class="duit" style="margin-left: 23px;">{{tiketBelumLunas}}</code> Tiket</li>
                    </ul>
                </div>
            </div>

        </div>

        <div style="padding-right: 30px;" class="col-md-7    ">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Statistik Total Penerimaan Uang</h3>
                </div>
                <div class="panel-body">
                    <ul class="tulisTiket" style="padding-left: 15px;">
                        <li class="panah" style="list-style-type: none;">Total Estimasi Pendapatan <code class="duit" style="margin-left: 50px;">Rp. 30.000.000,00</code> </li>
                        <li class="panah" style="list-style-type: none;"> Jumlah Uang Diterima <code class="duit" style="margin-left: 80px;">{{totalPendapatan}}</code> </li>
                        <li class="panah" style="list-style-type: none;"> Total Sisa Uang Belum Dibayar <code class="duit" style="margin-left: 22px;">{{totalEstimasiTIket}}</code></li>
                    </ul>
                </div>
            </div>
        </div>
         <div style="padding-right: 30px;" class="col-md-7    ">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Kotak Pesan</h3>
                </div>
                <div class="panel-body">
                    <ul class="tulisTiket" style="padding-left: 15px;">
                        <li class="panah" style="list-style-type: none;">Kotak Validasi Tiket <code class="duit" style="margin-left: 32px;">{{jumlahKotakValidasi}}</code> Tiket pesan </li>
                        <li class="panah" style="list-style-type: none;"> Kotak Saran <code class="duit" style="margin-left: 80px;">On Fix</code></li>
                       
                    </ul>
                </div>
                
            </div>
            
        </div>
        <div style="padding-right: 30px; float: right;" class="col-md-6    ">
           
                <div class="panel-body">
                    <a href="/keluar" style="margin-left: 10px;" class="btn btn-primary btn-raised"  >Log out</a>
                    <a href="/admin/dashboard" class="btn btn-primary btn-raised"  >Segarkan Statistik</a>
                 

                </div>
                
            </div>
            
        </div>

       
    </div>
</div>
</body>

</html>
{{>footer}}
<script>


    












    // var data = {
    //     labels: ['Tiket Premium', 'Tiket Gold', 'Tiket Silver'],
    //     series: [
    //         [990, 888, 348]
    //     ]
    // };

    // var options = {
    //     seriesBarDistance: 1,

    //     high: 1000,
    //     low: 0,
    //     scaleMinSpace: 20,

    //     height: '500px'

    // };

    // var responsiveOptions = [
    //     ['screen and (min-width: 641px) and (max-width: 1024px)', {
    //         seriesBarDistance: 50,
    //         axisX: {
    //             labelInterpolationFnc: function (value) {
    //                 return value;
    //             }
    //         }
    //     }],
    //     ['screen and (max-width: 640px)', {
    //         seriesBarDistance: 90,
    //         axisX: {
    //             labelInterpolationFnc: function (value) {
    //                 return value[0];
    //             }
    //         }
    //     }]
    // ];

    // new Chartist.Bar('.ct-chart', data, options, responsiveOptions);
    // new Chartist.Pie('.ct-chart', {
    //   series: [20, 10, 30, 40]
    // }, {
    //   donut: true,
    //   donutWidth: 60,
    //   startAngle: 270,
    //   total: 200,
    //   showLabel: true
    // });


// var data = {
//   labels: ['1', '2', '3'],
//   series: [
//     {
//       data: [1, 2, 3]
//     }
//   ]
// };

// /* Set some base options (settings will override the default settings in Chartist.js *see default settings*). We are adding a basic label interpolation function for the xAxis labels. */
// var options = {
//   axisX: {
//     labelInterpolationFnc: function(value) {
//       return 'Calendar Week ' + value;
//     }
//   }
// };

// /* Now we can specify multiple responsive settings that will override the base settings based on order and if the media queries match. In this example we are changing the visibility of dots and lines as well as use different label interpolations for space reasons. */
// var responsiveOptions = [
//   ['screen and (min-width: 641px) and (max-width: 1024px)', {
//     showPoint: false,
//     axisX: {
//       labelInterpolationFnc: function(value) {
//         return 'Week ' + value;
//       }
//     }
//   }],
//   ['screen and (max-width: 640px)', {
//     showLine: false,
//     axisX: {
//       labelInterpolationFnc: function(value) {
//         return 'W' + value;
//       }
//     }
//   }]
// ];

// /* Initialize the chart with the above settings */
// new Chartist.Line('#my-chart', data, options, responsiveOptions);




</script>