 {{>headerAdmin}}

    <div class="table-users col-md-10 col-md-offset-2 container">
        <div style="margin-top: 70px;" class="page-header text-center well">
            <div style="" class="col-md-12 ">
                <div class="col-md-13">
                <h1 class="judul" > List Pembeli Lunas </h1>    

                  <hr class="Garistema">
                
                </div>
                
                
            
                
              
            </div>
            
            <div style="font-size: 3px;" class="bs-component">
                <table class="table table-hover jadi-vertical">
                    <thead>
                        <tr class="headerTengah" id="warnaTr">
                            <th >No</th>
                            <th>Nama</th>
                            <th>Email Utama</th>
                            <th>No Handphone</th>
                            <th>Uang Transfer</th>
                            <th> Kotak Validasi Tiket</th>                          
                            <th>Status</th>
                            <th colspan="3">Tindakan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each userLunas}}
                        <tr class="<%=trUser%>">
                           <td class="text-center tengah pagination-centered">
                                {{tambahSatuAdmin @index}}
                            </td>
                             <td class="text-center pagination-centered">
                                {{this.nm_pembeli}}
                            </td>
                            <td class="text-center pagination-centered">
                                {{this.email_pembeli}}
                            </td>
                              <td class="text-center pagination-centered">
                                {{this.hp_pembeli}}
                            </td>

                              <td class="text-center pagination-centered">
                                Rp. {{this.uang_transfer}},00
                            </td>
                            <td class="text-center tengah-table pagination-centered">
                                {{#if this.uang_transfer_validasi}}                            

                                   Sudah Konfirmasi

                                {{else}}

                                   Belum Konfirmasi


                                {{/if}}


                            </td>
                              
                            
                            <td class="text-center tengah-table pagination-centered">
                                {{#if this.uang_transfer}}
                                <span class="<%= btnAdmin %>  bigStat"> Lunas</span> {{else}}
                                <span class="<%= btnUser %> bigStat"> Belum Lunas</span> {{/if}}
                            </td>
                            <td id="btn-edit" class="tengah text-center"> <a class="btn btn-raised btn-info" href="/admin/dashboard/user-detail/{{this.id_pembeli}}">Detail</a></td>
                            {{/each}}
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>

</html>
{{>footer}}


<script>



    
</script>
