 {{>headerAdmin}}

<div class="table-users col-md-10 col-md-offset-2 container">
    <div style="margin-top: 70px;" class="page-header text-center well col-md-12">
        <div>
            <div class="col-md-10 col-md-offset-1">
                <h1 style="font-size: 30px;" class="judul"> Detail Informasi Pembeli </h1>

                <hr class="Garistema">

            </div>


            <div style="margin-top: -20px;" class="col-md-10">

                <div class="col-md-9 col-md-offset-1" style="margin-bottom: -15px;">


                    <br>
                    <label style="margin-left: 16px;" class="control-label ">                 
                                  Data Pribadi</label>
                    <hr class="garisbagian">

                </div>

                <div class="col-md-12 col-md-offset-1">
                    <form class="daftar form-horizontal text-center" action="/admin/dashboard/user-detail/{{userDetail.id_pembeli}}" method="post">
                        <div class="col-md-4">
                            <div id="ketikEmail" class="form-group {{error}}">

                                <div class="input-group ">

                                    <span class="input-group-addon"><i class="fa fa-user-circle-o fa-lg detailDashIcon" aria-hidden="true"></i></span>
                                    <label for="nama " class="control-label"> Nama Peserta      
                                  </label>
                                    <input class="form-control " name="nama" placeholder="Nama Anda" type="name" id="nama" value="{{userDetail.nm_pembeli}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <div id="ketikPass" class="form-group  {{error}}">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa-lg detailDashIcon" aria-hidden="true"></i></span>
                                    <label for="email " class="control-label"> Email Peserta             
                                  </label>
                                    <input class="form-control" name="email" placeholder="Email Anda" type="email" id="email" value="{{userDetail.email_pembeli}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div id="ketikEmail" class="form-group {{error}}">
                                <div class="input-group ">
                                    <span class="input-group-addon"><i class="fa fa-eye-slash fa-lg detailDashIcon" aria-hidden="true"></i></span>
                                    <label for="password " class="control-label">                 
                                  Password Peserta</label>
                                    <input class="form-control " name="password" placeholder="Password" type="text" id="password" value="{{userDetail.password}}">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-md-offset-1">
                            <div id="ketikEmail" class="form-group {{error}}">
                                <div class="input-group ">
                                    <span class="input-group-addon"><i class="fa fa-phone-square fa-lg detailDashIcon" aria-hidden="true"></i></span>
                                    <label for="hp " class="control-label">                 
                                  No Handphone</label>
                                    <input class="form-control " name="no_hp" placeholder="No Handphone" id="hp" type="text" value="{{userDetail.hp_pembeli}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 " style="margin-left: 4px;">
                            <div id="ketikEmail" class="form-group  {{error}}">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa-lg detailDashIcon" aria-hidden="true"></i></span>
                                    <label for="gender " class="control-label">                 
                                  Gender</label>
                                    <input class="form-control " name="gender" placeholder="gender" type="text" id="gender" value="{{userDetail.gd_pembeli}}"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 ">
                            <div class="form-group">
                                <label for="textArea" style="text-align: left;" class="col-md-2 control-label">Motivasi </label>

                                <div class="col-md-10">
                                    <textarea name="motivasi" class="form-control" rows="3" id="textArea">{{userDetail.motivasi_pembeli}}</textarea>
                                    <span class="help-block">Motivasi peserta mengikuti bootcamp.</span>
                                </div>
                            </div>
                        </div>



                        <div style="margin-left: -15px;">


                            <div class="col-md-9" style=" margin-top: 25px;">

                                <br>
                                <label style="margin-left: 15px;" class="control-label">                 
                                  Metode Pembayaran</label>
                                <hr class="garisbagian">

                            </div>
                            <div class="col-md-12" style="margin-top: -30px;">

                                <div class="col-md-12 ">




                                    <div id="ketikEmail" class="form-group {{error}} col-md-9">
                                        <div class="input-group col-md-9">
                                            <label for="metode " class="control-label">                 
                                  Metode Pembayaran</label>
                                            <input class="form-control " name="hp" placeholder="No Handphone" type="text" value="{{userDetail.pilihan_bank}}" readonly>

                                        </div>
                                    </div>


                                    <div id="ketikEmail" class="form-group {{error}} col-md-5">
                                        <div class="input-group col-md-8">
                                            <label for="harga " class="control-label">                 
                                  Harga Tiket</label>
                                            <input class="form-control " name="harga" id="harga" placeholder="Biaya" type="text" value="Rp. 500.000" readonly>

                                        </div>
                                    </div>


                                    <div id="ketikEmail" class="form-group {{error}} col-md-5 col-md-offset-1">
                                        <div class="input-group col-md-8">
                                            <label for="harga " class="control-label">  Kotak Validasi               
                                  </label> {{#if userDetail.uang_transfer_validasi}}

                                            <input class="form-control " name="harga" id="harga" placeholder="Biaya" type="text" value="Sudah Konfirmasi" readonly>                                            {{else}}

                                            <input class="form-control " name="harga" id="harga" placeholder="Biaya" type="text" value="Belum Konfirmasi" readonly>                                            {{/if}}

                                        </div>
                                    </div>


                                    <div id="ketikEmail" class="form-group {{error}} col-md-5 ">
                                        <div class="input-group col-md-8">
                                            <label for="harga " class="control-label">                 
                                  Uang Transfer</label>
                                            <input class="form-control " name="uangtf" id="uangtf" placeholder="Biaya" type="text" value="" readonly>

                                        </div>
                                    </div>

                                    <div style="margin-top: 60px;" class="col-md-6 ">
                                        <div class="input-group col-md-8">

                                            <div class="togglebutton">
                                                <label for="lunasCheck">

                                                    {{#if userDetail.uang_transfer}}


                                                <input type="checkbox" id="lunasCheck" checked /> <label id="labelCheck" for=""> Lunas</label>

                                                </label>

                                                {{else}}


                                                <input type="checkbox" id="lunasCheck" /> <label id="labelCheck" for=""> Belum Lunas</label>

                                                </label>


                                                {{/if}}




                                            </div>
                                        </div>
                                    </div>




                                </div>

                            </div>
                        </div>


                        <div style="padding-bottom: 30px; padding-left: 20px;" class="col-md-10 col-md-offset-1">

                            <br>
                            <br>
                            <a href="/admin/dashboard/send-email/{{userDetail.id_pembeli}}" class="btn btn-primary btn-raised col-md-10">Beritahukan Lewat Email</a>
                            <a style="color: white !important; background-color:#ef5350 !important;" href="#" class="btn btn-raised col-md-10" data-toggle="modal"
                                data-target="#modal">Hapus Peserta</a>
                            <div style="padding-left:25px;" class="col-md-offset-2">
                                <a class=" btn btn-raised btn-info btn-md" href="/login"> Kembali</a>
                                <button style="margin-left: 10px;" class="btn btn-raised btn-primary " type="submit">  Submit</button>


                            </div>

                        </div>


                        <div style="padding-top: 140px;" id="modal" class="modal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title">Hapus Data Peserta</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Anda yakin akan menghapus {{userDetail.nm_pembeli}} dari bootcamp ? </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-raised btn-primary" data-dismiss="modal">Batal</button>
                                        <button style="color: white !important; background-color:#ef5350 !important;" type="button" class="btn btn-raised btn-primary"
                                            data-dismiss="modal" id="btnHapus">Hapus peserta</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                </div>

            </div>

            </form>
            <br>
            <br>
            <br>
            <br>


        </div>



    </div>





</div>


</div>
</div>
</div>

</body>



</html>
{{>footer}}


<script>
    $(document).ready(function () {



        $("#lunasCheck").change(function () {
            if (this.checked) {
                console.log("Dicekliks");
                $("#labelCheck").html("Lunas");
                $("#uangtf").val(toRp('500000'))
            } else {
                console.log("Kaga diceklis");
                $("#labelCheck").html("Belum Lunas");
                $("#uangtf").val(toRp('0'))
            }
        });


        $("#btnHapus").click(function () {
            var request = $.ajax({
                url: "http://127.0.0.1:3000/admin/dashboard/delete-user/{{userDetail.id_pembeli}}",
                type: "POST",
                success: window.location.replace(
                    "http://127.0.0.1:3000/admin/dashboard/semua-user")

            });
        })



        $('#uangtf').val(toRp('{{userDetail.uang_transfer}}'));

        function toRp(angka) {
            var rev = parseInt(angka, 10).toString().split('').reverse().join('');
            var rev2 = '';
            for (var i = 0; i < rev.length; i++) {
                rev2 += rev[i];
                if ((i + 1) % 3 === 0 && i !== (rev.length - 1)) {
                    rev2 += '.';
                }
            }
            return 'Rp. ' + rev2.split('').reverse().join('') + ',00';
        }

    });
</script>