<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faisal.ayat_syafiq">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:theme="@style/AppTheme.NoActionBar" android:name=".MenuSubBab3" android:label="Al-Quran Solution">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuAyat" />
        <activity android:name=".MenuSubBab1" />
        <activity android:name=".MenuSubBab2" />
        <activity android:name=".MenuSubBab4" />
        <activity android:name=".MenuSubBab5" />
        <activity android:name=".MenuSubBab6" />
        <activity android:name=".MenuInnerBabAlQuran1" />
        <activity android:name=".MenuInnerBabAlQuran2" />
        <activity android:name=".MenuInnerBabMdP1" />
        <activity android:name=".MenuInnerBabMdP2" />
        <activity android:name=".MenuInnerBabMdP3" />
        <activity android:name=".MenuInnerBabAS1" />
        <activity android:name=".MenuInnerBabAS2" />
        <activity android:name=".MenuInnerBabAS3" />
        <activity android:name=".MenuInnerBabYPTDYPL1" />
        <activity android:name=".MenuInnerBabYPTDYPL2" />
        <activity android:name=".MenuInnerBabYPTDYPL3" />
        <activity android:name=".MenuInnerBabRMMK1" />
        <activity android:name=".MenuInnerBabRMMK2" />
        <activity android:name=".MenuInnerBabRMMK3" />
        <activity android:name=".MenuInnerBabRMMK4" />
        <activity android:name=".MenuInnerBabRMMK5" />
        <activity android:name=".MenuInnerBabRMMK6" />
        <activity android:name=".MenuInnerBabRMMK7" />
        <activity android:name=".MenuInnerBab1" />
        <activity android:name=".MenuInnerBab2" />
        <activity android:name=".MenuInnerBab3" />
        <activity android:name=".MenuInnerBab4" />
        <activity android:name=".SplashScreen"></activity>
    </application>

</manifest>